$background-basic: #f3f7f9;

$light-blue: #d6e7fa;
$basic-blue: #3c8eff;
$basic-yellow: #feec7f;
$blueOpacity: #c4ddff;

$white: #ffffff;
$black: #000000;
$yellow: #ffee77;
$yellowOpacity: #fffad6;
$facebookColor: #3b5998;

$borderGrey: rgba(149, 152, 154, 0.25);
$borderLightGrey: #f4f5f5;
$iconGrey: #dedfe0;

$font-basic: #686868;
$font-sec: #95989a;

$borderRadiusMin: 4px;
$borderRadius: 6px;

$transition: 0.3s;

@mixin fontFamily($type, $weight) {
  @if $type == "upper" {
    @if $weight == bold {
      font-family: "BPG Nino Mtavruli Bold";
    } @else {
      font-family: "BPG Nino Mtavruli";
    }
  } @else {
    font-family: "BPG Arial";
    @if $weight == bold {
      font-weight: bold;
    }
  }
}

@mixin fontSize($px) {
  font-size: ($px / 16) + rem;
}

@mixin placeholder($color) {
  ::-webkit-input-placeholder {
    color: $color;
  }
  ::-moz-placeholder {
    color: $color;
  }
  :-ms-input-placeholder {
    color: $color;
  }
  :-moz-placeholder {
    color: $color;
  }
}
