@import "../variables/variables";

.input-out {
  & + .input-out {
    margin-top: 2rem;
  }
}

.input {
  border-radius: $borderRadius;
  border: 1px solid $borderGrey;
  padding: 0 1rem;
  @include fontSize(14);
  @include fontFamily("lower", normal);
  height: 3.125rem; // 50px
  width: 100%;
  transition: 0.2s;

  &:focus {
    border-color: $basic-blue;
  }
}

.textarea {
  padding-top: 1rem;
  padding-bottom: 1rem;
  resize: none;
  height: 8rem;
}

.select {
  height: 3.125rem;
  @include fontSize(14);
  @include fontFamily("lower", normal);
  border-radius: $borderRadius;
  border: 1px solid $borderGrey;

  & > div:first-child {
    height: 100%;
  }
}

.label {
  @include fontFamily("upper", bold);
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: inline-block;
}

@include placeholder($font-sec);

.error-msg {
  margin-top: 0.5rem;
  color: $errorRed;
  @include fontSize(14);
}
